:root {
  --bg-color-1: #393E46;
  --bg-color-2: #6D9886;
  --bg-color-3: #F2E7D5;
  --bg-color-4: #F7F7F7;
}



.App {
  text-align: center;
  height: 100vh;
  background-color: var(--bg-color-1);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: var(--bg-color-4);
  font-size: 45px;
}

.nav{
  background-color: burlywood;
  display: flex;
  justify-content: center;
}

.modalBackdrop {
  background: rgba(0, 0, 0, 0.65);
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 19;
}

.modalContainer {
  background: var(--bg-color-1);
  color: var(--bg-color-4);
  border-radius: 5px;
  max-width: 100%;
  margin: 50px auto;
  padding: 15px;
  width: 60vw;

}

.modalTitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
}

