:root {
  --bg-color-1: #393E46;
  --bg-color-2: #6D9886;
  --bg-color-3: #F2E7D5;
  --bg-color-4: #F7F7F7;
}



.App {
  text-align: center;
  height: 100vh;
  background-color: var(--bg-color-1);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: var(--bg-color-4);
  font-size: 45px;
}

.nav{
  background-color: burlywood;
  display: flex;
  justify-content: center;
}


